<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="assets/images/logo.png" alt="logo" class="navbar-brand" routerLink="/" style="width: 218px; height: 70px;">
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngFor="let category of categories">
            <a class="nav-link" [routerLink]="['/products']" [queryParams]="{ category: category.id }">
              {{ category.name }}
            </a>
          </li>
        </ul>
  
        <a class="btn btn-outline-light position-relative" routerLink="/cart">
          🛒 Carrito
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ cartCount }}
          </span>
        </a>
      </div>
    </div>
  </nav>
  