<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" alt="CRC Comercial" style="height: 60px;" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-center me-3">
        <li class="nav-item">
          <a class="nav-link text-uppercase fw-bold" routerLink="/products">
            Todos los productos
          </a>
        </li>

        <li class="nav-item" *ngFor="let category of categories">
          <a
            class="nav-link text-uppercase"
            [routerLink]="['/products']"
            [queryParams]="{ category: category.id }"
          >
            {{ category.name }}
          </a>
        </li>
      </ul>

    <!-- Search bar -->
    <div class="search-wrapper mx-auto">
      <div class="search-box">
        <i class="fas fa-search search-icon"></i>
        <input
          type="text"
          class="search-input"
          placeholder="Busca algún producto..."
          [(ngModel)]="searchText"
          (input)="filterProducts()"
          (focus)="isFocused = true"
          (blur)="isFocused = false"
        />
        
        <!-- Suggestion list -->
        <ul *ngIf="filteredProducts.length > 0" class="suggestions-list">
          <li *ngFor="let product of filteredProducts" class="suggestion-item">
            <a [routerLink]="['/product', product.id]">
              <img
                *ngIf="product.images?.length"
                [src]="'assets/images/' + product.images[0]"
                alt="{{ product.name }}"
                class="suggestion-image"
              />
              <span class="suggestion-name">{{ product.name }}</span>
            </a>
          </li>
        </ul>

      </div>
    </div>


    <a routerLink="/cart" class="position-relative me-3">
      <i class="fas fa-shopping-cart fa-lg cart-icon" [ngClass]="{ 'animate': isBouncing }"></i>
      <span
        *ngIf="totalItems > 0"
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
        {{ totalItems }}
      </span>
    </a>
      
    </div>
  </div>
</nav>
