.product-carousel-container {
  position: relative;
  margin-bottom: 2rem;

  .section-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .product-carousel {
    scroll-behavior: smooth;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    overflow-x: auto; // necesario para que funcione el scroll programático
    scrollbar-width: none; // para Firefox
    -ms-overflow-style: none; // para IE/Edge

    &::-webkit-scrollbar {
      display: none; // para Chrome/Safari
    }
  }

  .carousel-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #fce434;
    cursor: pointer;
    z-index: 2;
    padding: 0.5rem;

    &.left {
      margin-right: 0.5rem;
    }

    &.right {
      margin-left: 0.5rem;
    }
  }

  app-product-card {
    min-width: 250px;
    flex: 0 0 auto;
  }
}