<div class="card h-100">
  <img
    [src]="'assets/images/' + product.images[0]"
    class="card-img-top"
    [alt]="product.name"
    [routerLink]="['/products', product.id]"
  />
  <div class="card-body d-flex flex-column">
    <h5 class="card-title text-center">{{ product.name }}</h5>
    <button
      class="btn btn-add-to-cart mt-auto"
    >
      Añadir al carrito
    </button>
    <button class="btn btn-warning w-100 mt-2" [routerLink]="['/products', product.id]">Ver más</button>
  </div>
</div>
