<div class="product-card-container" (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()">
  <a [routerLink]="['/products', product.id]" [queryParams]="queryParams" [queryParamsHandling]="'merge'">
    <img
      [src]="'assets/images/' + product.images[0]"
      [alt]="product.name"
      class="product-img fade-image" />
  </a>

  <h5 class="product-title">
    <a [routerLink]="['/products', product.id]" [queryParams]="queryParams" [queryParamsHandling]="'merge'" style="text-decoration: none; color: inherit;">
      {{ product.name | slice:0:50 }}<span *ngIf="product.name.length > 50">...</span>
    </a>
  </h5>

  <div class="product-actions">
    <input
      type="number"
      min="1"
      [(ngModel)]="quantity"
      class="form-control quantity-selector" />

    <button class="btn btn-warning w-100 mt-2" (click)="addToCart()">
      <i class="fas fa-cart-plus me-1"></i> Añadir
    </button>
  </div>
</div>
