.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
  
    .page-item {
      margin: 0 5px;
  
      .page-link {
        background-color: #FF9800;
        border: none;
        color: white;
        border-radius: 50px;
        padding: 8px 16px;
        transition: background-color 0.3s ease, transform 0.2s ease;
  
        &:hover {
          background-color: darken(#FF9800, 10%);
          transform: scale(1.05);
        }
  
        &:focus {
          box-shadow: none;
        }
      }
  
      &.disabled .page-link {
        background-color: #ffc266; // color más claro para disabled
        cursor: not-allowed;
        opacity: 0.7;
        transform: none;
      }
    }
}

.text-center {
  font-size: 0.9rem;
  color: #666;
}

  