
<!-- <main class="container mt-4"> -->
<div class="page-wrapper">
  <app-header></app-header>

  <main class="flex-fill">

  <router-outlet></router-outlet>

    <div
    class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1200;"
    *ngIf="toastMessage"
    [ngClass]="{
      'toast': true,
      'slide-in': !isFadingOut,
      'fade-out': isFadingOut,
      'show': true,
      'bg-success': true,
      'text-white': true
    }"
    role="alert"
    aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body fw-medium">
        {{ toastMessage }}
      </div>
    </div>
  </div>

  </main>
  
  <app-footer></app-footer>

</div>

<!-- Modal de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4 text-center">
        <h4 class="mb-3 text-success">¡Solicitud enviada con éxito!</h4>
        <p>Gracias por tu mensaje, nos pondremos en contacto contigo muy pronto.</p>
        <button type="button" class="btn btn-warning mt-3" data-bs-dismiss="modal">
          Volver al sitio
        </button>
      </div>
    </div>
</div>