<div class="mb-4">
  <a routerLink="/products" class="btn btn-outline-warning">
    <i class="fas fa-arrow-left me-2"></i> Volver a productos
  </a>
</div>

<nav class="breadcrumb-nav mb-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Inicio</a>
    </li>
    <li class="breadcrumb-item" *ngIf="categoryName">
      <a [routerLink]="['/products']" [queryParams]="{ category: product?.categoryId }">
        {{ categoryName }}
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ product?.name }}
    </li>
  </ol>
</nav>


<div class="container my-5" *ngIf="product">
  <div class="row">
    <div class="col-md-6">
      <div class="image-gallery">
        <img
          [src]="'assets/images/' + selectedImage"
          class="img-fluid rounded main-image mb-3"
          [alt]="product.name" />
      
        <div class="thumbs d-flex flex-wrap gap-2">
          <img
            *ngFor="let img of product.images"
            [src]="'assets/images/' + img"
            [alt]="product.name"
            class="thumb-image"
            [class.active]="img === selectedImage"
            (click)="selectedImage = img" />
        </div>
      </div>
      
    </div>
    <div class="col-md-6">
      <h1 class="product-title">{{ product.name }}</h1>
      <p class="product-description">{{ product.description }}</p>

      <!-- Especificación Técnica -->
      <div class="collapse-box mt-4" *ngIf="product.technicalDetails && product.technicalDetails.trim() !== ''">
        <div class="collapse-header d-flex justify-content-between align-items-center" (click)="toggleCollapse()">
          <h4 class="mb-0">Especificación Técnica</h4>
          <i class="fas" style="color: #fce434;" [ngClass]="isCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
        </div>
      </div>

      <div class="collapse-body" [class.show]="!isCollapsed">
        <p class="mt-3">{{ product.technicalDetails }}</p>
      </div>

      <div class="mt-4 d-flex align-items-center gap-3">
        <input
        type="number"
        [(ngModel)]="quantity"
        class="form-control w-auto"
        min="1"
        style="max-width: 80px;" />

        <button
          class="btn btn-warning"
          [ngClass]="{ 'btn-pulse': btnPulse }"
          (click)="addToCart()">
          <i class="fas fa-cart-plus me-2"></i> Añadir al carrito
        </button>
      </div>

    </div>
  </div>
</div>
