<h2 class="text-center my-5">Conoce nuestros destacados</h2>

<div class="swiper additional-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let product of featuredProductsCarousel">
      <img
        [src]="'assets/images/' + product.images[0]"
        class="img-fluid rounded"
        alt="{{ product.name }}"
      />
    </div>
  </div>

  <div class="additional-swiper-pagination"></div> <!-- ⬅ Asegúrate que sea esta clase -->
</div>

<div class="container">
  <div class="row">
    <app-featured-products (productSelected)="openProduct($event)"></app-featured-products>
  </div>

  <app-product-detail
    *ngIf="selectedProduct"
    [product]="selectedProduct"
    (closed)="closeProduct()"
  ></app-product-detail>
</div>
