<h2 class="my-5">NUESTROS DESTACADOS</h2>

<div class="swiper carrousel-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let product of featuredProductsCarousel">
      <img
        [src]="'assets/images/' + product.images[0]"
        class="img-fluid rounded"
        alt="{{ product.name }}"
      />
    </div>
    
  </div>
  <div class="swiper-pagination"></div>
</div>

<div class="container">
  <h2 class="my-5">SEGURIDAD INDUSTRIAL</h2>
  <div class="row">
    <app-featured-products (productSelected)="openProduct($event)"></app-featured-products>
  </div>

  <app-product-detail
    *ngIf="selectedProduct"
    [product]="selectedProduct"
    (closed)="closeProduct()"
  ></app-product-detail>
</div>
